<app-header title="Dashboard" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true" class="ion-padding">

  <app-customer-info></app-customer-info>
  <app-textbox key="dashboard.welcome"></app-textbox>

  <!-- children section start -->
  <app-children-card></app-children-card>
  <!-- children section end -->

  <!-- abwesenheiten section start -->
  <app-abwesenheit-list limit="3"></app-abwesenheit-list>
  <ion-button routerLink="/abwesenheit/new">
    <ion-icon [name]="add()"></ion-icon>
    {{'button.add' | translate}}
  </ion-button>
  <ion-button fill="outline" routerLink="/abwesenheiten">{{'button.all' | translate}}</ion-button>
  <!-- abwesenheiten section end -->

</ion-content>
