<app-header title="Dashboard" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true" class="ion-padding">

  <!-- children section start -->
  <app-children-card></app-children-card>
  <!-- children section end -->

  <!-- abwesenheiten section start -->
  <app-abwesenheit-list [limit]="3"></app-abwesenheit-list>
  <ion-button routerLink="/children">
    <ion-icon [name]="add()"></ion-icon>
    Hinzufügen
  </ion-button>
  <ion-button fill="outline" routerLink="/abwesenheiten">Alle</ion-button>
  <!-- abwesenheiten section end -->

</ion-content>
