<ion-header [translucent]="transcluent" [collapse]="collapse">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ng-container *ngIf="!isFrontpage(); else appIcon">
        <ion-back-button [icon]="icon()" defaultHref="/"></ion-back-button>
      </ng-container>
    </ion-buttons>

    <ion-title>
      {{title}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="!isFrontpage()">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ng-template #appIcon>
  <ion-icon name="beer-outline"></ion-icon>
</ng-template>
