<app-header title="kitModerator" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true">
  <div id="container">
    <h2>Welcome!</h2>
    <h4>Choose a customer</h4>
    <ion-button routerLink="dashboard" (click)="select('default')">Default</ion-button>
    <ion-button routerLink="dashboard" (click)="select('gugus')">Kita Gugus</ion-button>
    <ion-button routerLink="dashboard" (click)="select('alpha')">Kita Alpha</ion-button>
    <ion-button routerLink="dashboard" (click)="select('beta')">Kita Beta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('gamma')">Kita Gamma</ion-button>
    <ion-button routerLink="dashboard" (click)="select('delta')">Kita Delta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('epsilon')">Kita Epsilon</ion-button>
    <ion-button routerLink="dashboard" (click)="select('zeta')">Kita Zeta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('eta')">Kita Eta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('theta')">Kita Theta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('iota')">Kita Iota</ion-button>
    <ion-button routerLink="dashboard" (click)="select('kappa')">Kita Kappa</ion-button>
  </div>
</ion-content>
