<app-header title="kitModerator" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true">
  <div id="container">
    <h2>Welcome!</h2>
    <h4>Choose a customer</h4>
    <ion-button routerLink="dashboard" (click)="select('default')">default</ion-button>
    <ion-button routerLink="dashboard" (click)="select('gugus')">Kita Gugus</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Alpha</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Beta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Gamma</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Delta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Epsilon</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Zeta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Eta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Theta</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Iota</ion-button>
    <ion-button routerLink="dashboard" (click)="select('default')">Kita Kappa</ion-button>
  </div>
</ion-content>
