<app-header title="Kinder" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true" class="ion-padding">
  <app-header title="Kinder" collapse="condense"></app-header>

  <ion-text color="primary">
    <p>Wählen Sie das Kind, für welches Sie eine Abwesenheit erfassen wollen, aus der Liste aus.</p>
  </ion-text>

  <ion-list-header>
    <ion-label>Kinderlein</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let child of (children$ | async)" [button]="true" [routerLink]="['/abwesenheit', child.id]">

      <ng-container *ngIf="showAvatars()">
        <ion-avatar slot="start">
          <img alt="{{child.name}}" src="https://avatars.dicebear.com/api/adventurer/{{child.name}}.svg">
        </ion-avatar>
      </ng-container>

      <ion-label>{{renderRow(child)}}</ion-label>
      <ion-icon name="{{icon()}}"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
