<form [formGroup]="form" (ngSubmit)="submitted(this)">

  <ion-item *ngFor="let field of getKeys()" lines="full">

    <ng-container [ngSwitch]="field.type">
      <app-children-select [field]="field" [form]="form" *ngSwitchCase="'children-select'"></app-children-select>
      <app-input-textarea *ngSwitchCase="'textarea'" [field]="field" [form]="form"></app-input-textarea>
      <app-input *ngSwitchDefault [field]="field" [form]="form"></app-input>
    </ng-container>

  </ion-item>
  <ion-footer>
    <ion-button type="submit"
                color="primary">
      {{'form.submit' | translate}}
    </ion-button>

    <ion-button color="danger"
                [confirm]="confirmed"
                [cancel]="cancelled"
                [ctx]="this">
      {{'form.delete' | translate}}
    </ion-button>
  </ion-footer>
</form>


