<form [formGroup]="form">

  <ion-item *ngFor="let field of getKeys()" lines="full">

    <ng-container [ngSwitch]="field.type">
      <app-children-select [field]="field" [form]="form" *ngSwitchCase="'children-select'"></app-children-select>
      <app-input-textarea *ngSwitchCase="'textarea'" [field]="field" [form]="form"></app-input-textarea>
      <app-input *ngSwitchDefault [field]="field" [form]="form"></app-input>
    </ng-container>

  </ion-item>

  <ng-container *ngIf="confirmDialog(); else submitOnly">
    <ion-button type="submit"
                color="primary"
                expand="block"
                [confirm]="confirmed"
                [cancel]="cancelled"
                [ctx]="this">
      {{'submit' | translate}}
    </ion-button>
  </ng-container>
</form>

<ng-template #submitOnly>
  <ion-button type="submit"
              color="primary"
              expand="block"
              (click)="submitted(this)">
    {{'submit' | translate}}
  </ion-button>
</ng-template>
