@import "../variables";

:root {
}

app-abwesenheit {
  ion-item {
    background-color: transparent;
    margin-bottom: 20px;
  }
}

app-form {
  .item-native {
    border-radius: 5px;
  }
}

@media (prefers-color-scheme: dark) {

  @import "default-dark";
}
