<ion-card *ngFor="let child of (children$ | async)">
  <ion-item>
    <ng-container>
      <ion-avatar slot="start">
        <img alt="{{child.name}}" src="https://avatars.dicebear.com/api/adventurer/{{child.name}}.svg">
      </ion-avatar>
    </ng-container>
    <ion-button fill="outline" slot="end">View</ion-button>
    <ion-card-header>
      <ion-card-title>{{child.name}}</ion-card-title>
      <ion-card-subtitle>{{child.birthdate | date: 'dd.mm.yyyy'}}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>
</ion-card>
