<app-header title="Kinder" [transcluent]="true"></app-header>

<ion-content id="content" [fullscreen]="true" class="ion-padding">
  <app-header title="Kinder" collapse="condense"></app-header>

  <ion-text color="primary">
    <p>Füllen Sie das Formular vollständig aus.</p>
  </ion-text>
  <form [formGroup]="form">

    <ion-item *ngFor="let field of getKeys()" lines="full">
        <ion-label position="floating">{{field.key}}</ion-label>
        <ion-input [type]="field.type" [formControlName]="field.key" [value]="getControl(field.key).value"></ion-input>
    </ion-item>

    <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid"
                [confirm]="confirmed" [cancel]="canceled" [ctx]="this">Submit</ion-button>
  </form>
</ion-content>
