@import "../variables";

:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, 'Wingdings', sans-serif;
  --ion-color-primary: yellow;
  --test: yellow;

}

.item-interactive.ion-invalid {
  --highlight-background: var(--ion-color-primary);
}

@media (prefers-color-scheme: dark) {
  @import "gugus-dark";
}
